.post {
  max-width: 700px;
  margin: 3rem auto 0;

  a {
    text-decoration: none;

    strong {
      font-size: 1.75rem;
      font-weight: 700;
      line-height: 2.125rem;
      color: var(--heading);
    }

    p {
      margin-top: 1rem;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.375rem;
      color: var(--body);
    }
  }
}

.load_more {
  margin: 3rem auto 5rem;
  border: 0;
  background: var(--background);
  color: var(--highlight);
}
